@c-font: #333;
@c-background-main: #ccc;
@c-background: #f0f0f0;

@c-red: #c00;
@c-blue: #00c;
@c-select: #505;
@c-neutral: #f9f9b6;
@c-killer: @c-font;

// Media queries

@m-mobile-s: 480px;
@m-mobile: 768px;
@m-tablet: 1024px;
@m-desktop: 1280px;

@mobile-s: ~'only screen and (max-width: 479px)';
@mobile: ~'only screen and (max-width: 767px)';
@tablet: ~'only screen and (min-width: 768px)';
@desktop: ~'only screen and (min-width: 1024px)';
@desktop-l: ~'only screen and (min-width: 1280px)';

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', Verdana, sans-serif;
    color: @c-font;
    background-color: @c-background-main;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;

    .modal-content {
        position: absolute;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        border-radius: 5px;
        text-align: center;
        padding: 1em;

        .modal-close {
            position: absolute;
            top: -1em;
            right: -1em;
            background-color: @c-killer;
            color: white;
            padding: 0.25em;
            border: 1px solid @c-killer;
            border-radius: 5px;
            cursor: pointer;

            &:hover,
            &:focus {
                background-color: white;
                color: @c-killer;
            }
        }

        h3 {
            margin-top: 0;
        }

        a {
            display: inline-block;
            color: white;
            background-color: @c-select;
            padding: 0.5em 1em;
            border-radius: 5px;
            cursor: pointer;
            border: 2px solid @c-select;
            transition: all 200ms ease;

            &:hover,
            &:focus {
                background-color: white;
                color: @c-select;
            }
        }
    }
}

.word-list {
    list-style-type: none;
    padding: 0;

    li {
        font-weight: bold;
        text-transform: uppercase;

        &.blue {
            color: @c-blue;
        }

        &.red {
            color: @c-red;
        }

        &.neutral {
            color: @c-neutral;
        }

        &.killer {
            color: @c-killer;
        }

        &.found {
            color: @c-background;
            text-decoration: line-through;
        }
    }
}

.item {
    &.active {
        background-color: fade(@c-select, 50%);
        color: @c-background;
    }

    &.blue {
        background-color: @c-blue;
        color: @c-background;
        cursor: default;
    }

    &.red {
        background-color: @c-red;
        color: @c-background;
        cursor: default;
    }

    &.killer {
        background-color: @c-killer;
        color: @c-background;
        cursor: default;
    }

    &.neutral {
        background-color: @c-neutral;
        cursor: default;
    }
}

#game {
    header {

    }

    #content {
        display: flex;

        @media @mobile {
            flex-wrap: wrap;
        }
    }
}

#gameform {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    padding: 0.5em;

    h1 {
        text-align: center;
    }

    fieldset {
        border: 0;
        position: relative;
        padding: 1em 0 0;
        margin: 0;
    }

    .form-container {
        display: none;

        &.active {
            display: initial;
        }

        .seed_gen {
            color: inherit;
            position: absolute;
            right: 0;
            bottom: 1px;
            border-radius: 0 5px 5px 0;
            padding: 0.375em;
            font-size: 1.5em;
            transition: all 200ms ease;

            &:hover {
                background-color: @c-select;
                color: white;
            }
        }

        input[type="text"],
        select {
            width: 100%;
            border: 1px solid @c-select;
            text-align: center;
            border-radius: 5px;
            padding: 0.375em;
            font-size: 1.5em;
            background-color: @c-background;

            &:disabled {
                background-color: @c-background-main;
            }
        }

        input[type="submit"] {
            padding: 0.375em;
            border-radius: 5px;
            border: 1px solid @c-select;
            background-color: @c-select;
            color: white;
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            transition: all 200ms ease;
            cursor: pointer;
            width: 100%;
            margin-top: 1em;

            &:hover {
                background-color: @c-background;
                color: @c-font;
            }
        }

        .set,
        .seed,
        .load {
            label {
                display: block;
                text-align: center;
                padding-bottom: 0.75em;
                font-weight: bold;
                font-size: 1.5em;
            }
        }
    }

    .toggle {
        width: 100%;
        > label {
            float: left;
            width: 50%;
            text-align: center;
            font-weight: bold;

            input {
                display: none;
            }

            span {
                background-color: @c-background;
                display: inline-block;
                width: 100%;
                border: 1px solid @c-select;
                transition: all 200ms ease;
                padding: 1em;
                cursor: pointer;
            }

            input:checked + span {
                background-color: @c-select;
                color: white;
            }

            input:disabled + span {
                background-color: @c-background-main;
            }

            &:first-child {
                span {
                    border-radius: 5px 0 0 5px;
                    border-right: 0;
                }

            }

            &:last-child {
                span {
                    border-radius: 0 5px 5px 0;
                }
            }
        }
    }


}

#scores {
    flex: 0 0 30%;

    @media @mobile {
        flex: 0 0 100%;
        order: 2;
    }

    #team-toggle-container {
        width: 200px;
        margin: 40px auto 0;

        label {
            input {
                display: none;
            }

            span {
                display: inline-block;
                width: 100%;
                padding: 1em;
                border-radius: 32px;
                height: 64px;
                background-color: @c-red;
                position: relative;
                transition: all 200ms ease;
                border: 2px solid @c-red;
                cursor: pointer;

                &:after {
                    content: '';
                    position: absolute;
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    top: 0;
                    left: 0;
                    background-color: white;
                    transition: all 200ms ease;
                    box-sizing: content-box;
                }

            }

            input:checked + span {
                background-color: @c-blue;
                border-color: @c-blue;

                &:after {
                    top: 0;
                    left: 136px;
                }
            }
        }

        h3 {
            font-size: 2em;
            text-align: center;
            padding: 0.25em 0;
            display: none;
        }
    }

    .scores {
        text-align: center;
        width: 50%;
        float: left;

        .scores-num {
            font-size: 6em;
            font-weight: bold;
        }
    }

    .scores-blue {
        .scores-num {
            color: @c-blue;
        }
    }

    .scores-red {
        .scores-num {
            color: @c-red;
        }
    }

    &.boss-scores {
        overflow: hidden;
    }
}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    margin: 0 auto;

    .board-item {
        flex-basis: 20%;

        div {
            position: relative;
            border: 1px solid black;
            border-radius: 10px;
            width: 90%;
            height: 0;
            padding-bottom: 90%;
            cursor: pointer;
            background-color: @c-background;
        }

        &.active {
            div {
                .item.active;
            }
        }

        &.blue {
            div {
                .item.blue;
            }
        }

        &.red {
            div {
                .item.red;
            }
        }

        &.killer {
            div {
                .item.killer;
            }
        }

        &.neutral {
            div {
                background-color: @c-neutral;
                cursor: default;
            }
        }
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
}

#boss-board {
    display: flex;
    flex-wrap: wrap;

    > .word-container {
        flex: 0 1 100/3%;
        text-align: center;
        margin: 3em 0 0;

        @media @mobile-s {
            flex-basis: 100/2%;
            margin: 0;

            &.neutral {
                order: 2;
                flex-basis: 100%;
            }
        }

        li {
            font-size: 1.25em;
            padding: 0.125em;
            cursor: pointer;
        }
    }
}