@c-font: #333;
@c-background: #f0f0f0;

@c-red: #f00;
@c-blue: #00f;
@c-select: #505;
@c-neutral: #f9f9b6;
@c-killer: @c-font;

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', Verdana, sans-serif;
    color: @c-font;
    background-color: @c-background;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;

    .modal-content {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        border-radius: 5px;

        .modal-close {
            position: absolute;
            top: -1em;
            right: -1em;
            background-color: @c-killer;
            color: white;
            padding: 0.25em;
            border: 1px solid @c-killer;
            border-radius: 5px;

            &:hover,
            &:focus {
                background-color: white;
                color: @c-killer;
            }
        }
    }
}

#gameform {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;

    h1 {
        text-align: center;
    }

    fieldset {
        border: 0;
        position: relative;
        padding: 1em 0 0;
        margin: 0;
    }

    .form-container {
        display: none;

        &.active {
            display: initial;
        }

        .seed_gen {
            color: inherit;
            position: absolute;
            right: 0;
            bottom: 1px;
            border-radius: 0 5px 5px 0;
            padding: 0.375em;
            font-size: 1.5em;
            transition: all 200ms ease;

            &:hover {
                background-color: @c-select;
                color: white;
            }
        }

        input[type="text"],
        select {
            width: 100%;
            border: 1px solid @c-select;
            text-align: center;
            border-radius: 5px;
            padding: 0.375em;
            font-size: 1.5em;
            background-color: transparent;
        }

        input[type="submit"] {
            padding: 0.375em;
            border-radius: 5px;
            border: 1px solid @c-select;
            background-color: @c-select;
            color: white;
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            transition: all 200ms ease;
            cursor: pointer;
            width: 100%;
            margin-top: 1em;

            &:hover {
                background-color: transparent;
                color: @c-font;
            }
        }

        .set,
        .seed,
        .load {
            label {
                display: block;
                text-align: center;
                padding-bottom: 0.75em;
                font-weight: bold;
                font-size: 1.5em;
            }
        }
    }

    .toggle {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > label {
            flex: 0 1 50%;
            text-align: center;
            font-weight: bold;

            input {
                display: none;
            }

            span {
                background-color: transparent;
                display: inline-block;
                width: 100%;
                border: 1px solid @c-select;
                transition: all 200ms ease;
                padding: 1em;
                cursor: pointer;
            }

            input:checked + span {
                background-color: @c-select;
                color: white;
            }

            &:first-child {
                span {
                    border-radius: 5px 0 0 5px;
                    border-right: 0;
                }

            }

            &:last-child {
                span {
                    border-radius: 0 5px 5px 0;
                }
            }
        }
    }


}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    margin: 0 auto;

    .board-item {
        flex-basis: 20%;

        div {
            position: relative;
            border: 1px solid black;
            border-radius: 10px;
            width: 90%;
            height: 0;
            padding-bottom: 90%;
            cursor: pointer
        }

        &.active {
            div {
                background-color: fade(@c-select, 50%);
                color: @c-background;
            }
        }

        &.blue {
            div {
                background-color: @c-blue;
                color: @c-background;
            }
        }

        &.red {
            div {
                background-color: @c-red;
                color: @c-background;
            }
        }

        &.killer {
            div {
                background-color: @c-killer;
                color: @c-background;
            }
        }

        &.neutral {
            div {
                background-color: @c-neutral;
            }
        }
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
}

#controls {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -200px;
    transition: all 200ms ease;

    &.active {
        bottom: 0;
    }

    > div {
        width: 100px;
        height: 100px;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid black;
    }

    #control-red {
        background-color: @c-red;
    }

    #control-neutral {
        background-color: @c-neutral;
    }

    #control-killer {
        background-color: @c-killer;
    }

    #control-blue {
        background-color: @c-blue;
    }
}
